@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 34, 34, 34;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 34, 34, 34;
  }
} */
* {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}
body {
  width: 100vw;
  height: 100vh;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer components {
  .after-primary-dot {
    @apply after:content-[''] after:inline-block after:bg-primary border-0 after:w-1 after:h-1 after:ml-2 after:rounded;
  }
  .page-title {
    @apply text-5xl mb-32 font-bold after-primary-dot;
  }

  .section-sub-title {
    @apply text-2xl mt-5 after-primary-dot;
  }
  .profile-image-shadow {
    -webkit-filter: brightness(0) invert(80%) sepia(22%) saturate(6001%) hue-rotate(105deg) contrast(109%);
    filter: brightness(0) invert(80%) sepia(22%) saturate(6001%) hue-rotate(105deg) contrast(109%);
    opacity: 0.4;
  }
  .main-art-drop-shadow {
    filter: drop-shadow(0 0 0.75rem black);
  }
}
