#mainArt {
  path {
    fill-opacity: 0.8;
    transition: fill-opacity 0.3s ease-in-out;
  }
  path:hover {
    fill-opacity: 1;
    filter: drop-shadow(0 0 5px rgb(50 255 185 / 0.7));
  }
}
.blink {
  animation: blink 1.5s 0.5s ease infinite;
}
@keyframes blink {
  0%,
  100% {
    filter: drop-shadow(0 0 5px rgb(50 255 185 / 0));
  }
  50% {
    filter: drop-shadow(0 0 5px rgb(50 255 185 / 0.7));
  }
}
